
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    max-width: 1200px;
    min-width: 300px;
    width: calc(100% - 80px);
    margin: auto;
    padding: 40px;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.small {
    margin-top: -8px;
}

.section  {
    padding: 20px 0 20px 0;
    border-top: 1px solid #e7e7e7;
}

.step {
    display: flex;
}

.step-number {
    width: 32px;
    height: 32px;
    line-height: 30px;
    border-radius: 16px;
    background-color: #1d1d22;
    text-align: center;
    font-weight: 600;
    color: #f1f1f1;
}

.step-name {
    padding: 5px 0 0 10px;
}

.logo {
    padding-bottom: 20px;
}

.dict-block {
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.dict-block-line:first-child {
    border-top: 1px solid transparent;
}

.dict-block-line {
    display: flex;
    border-top: 1px solid #e0e0e0;
}

.dict-block-key {
    padding: 10px;
    width: 100px;
    background-color: #e0e0e0;
    text-align: center;

    font-weight: 600;
}

.dict-block-val {
    padding: 10px;
    background-color: #f1f1f1;
    padding-left: 30px;
    flex: 3
}

.green, .not-green {
    margin-right: 10px;
}

.green {
    color : #0b7537
}

.tr-step-name {
    font-weight: 600;
}

.tr-step-info {
    color: #636363;
    margin-top: -5px;
}

.transformation-step {
    padding-bottom: 20px;
}

.transformation-process-title {
    height: 60px;
}

.start-node {
    padding-top: 20px;
    padding-bottom: 10px;
}

.start-node span {
    padding: 1px 10px 2px 10px;
    background-color: #208ce4;
    color: #f1f1f1;
    border-radius: 5px;
}

.check-matrix {
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
}

.check-matrix-line {
    display: flex;
    border-bottom: 1px solid #cdcdcd;
}

.check-matrix-cell {
    flex: 1;
    padding: 5px;
    border-right: 1px solid #cdcdcd;
    text-align: center;
    min-height: 30px;
}

.check-word-block {
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    background-color: #f1f1f1;
    margin: 10px 0 10px 0;
    justify-content: space-between;
}

.check-word {
    padding: 16px;
}

.check-verdict {
    padding: 16px 32px 16px 32px;
    color: #f1f1f1;
    font-weight: 600;
}

.ch-gr {
    background-color: #afe7b1;
}

.ch-rd {
    background-color: #e8b0b0;
}

.check-block {
    padding-bottom: 40px;
}

.content {
    padding-top: 20px;
}